<div class="alerts">
  {{#if (eq details.alerts.length 10)}}
    <div>
      <a href="https://app.dataminr.com/app/dashboard/search" class="p-link">
        More Results in Dataminr (Click `Edit search`)
        {{fa-icon "external-link-square" class="external-link-icon"}}</a>
    </div>
  {{/if}}
  {{#each details.alerts as |alert alertIndex|}}
    <div class="mb-3">
      <h1 class="p-title">
        {{fa-icon "laptop" fixedWidth=true}}
        Alert
      </h1>
      {{#if alert.dataminrAlertUrl}}
        <div>
          <a href="{{alert.dataminrAlertUrl}}" class="p-link">View in Dataminr
            {{fa-icon "external-link-square" class="external-link-icon"}}</a>
        </div>
      {{/if}}
      {{#if alert.estimatedEventLocation.name}}
        <div class="mb-1 mt-1">
          <span class="p-block">
            {{fa-icon "map-marker-alt" fixedWidth=true}}
            {{alert.estimatedEventLocation.name}}
          </span>
        </div>
      {{/if}}
      <!--
      // Not in v1 (v4) API schema - eventMapLargeURL property not defined on Alert
      {{#if alert.eventMapLargeURL}}
        <div>
          <img src="{{alert.eventMapLargeURL}}" alt="Map View" />
        </div>
      {{/if}}
      -->
      {{#if alert.headline}}
        <div class="mb-1 mt-1">
          <span class="p-block">
            {{alert.headline}}
          </span>
        </div>
      {{/if}}
      {{#if alert.alertTimestamp}}
        <div>
          <span class="p-key">Published:</span>
          <span class="p-value">{{moment-format
              alert.alertTimestamp
              "MM/DD/YYYY HH:mm:ss"
              timeZone=timezone
            }}</span>
        </div>
      {{/if}}
      {{#if alert.alertCompanies}}
        <div>
          <span class="p-key">Companies:</span>
          <span class="p-value">
            {{#each alert.alertCompanies as |company index|}}
              {{company.name}}{{#if
                (not (eq (sub alert.alertCompanies.length 1) index))
              }},{{/if}}
            {{/each}}
          </span>
        </div>
      {{/if}}
      {{#if alert.alertTopics}}
        <div>
          <span class="p-key">Topics:</span>
          <span class="p-value">
            {{#each alert.alertTopics as |topic index|}}
              {{topic.name}}{{#if
                (not (eq (sub alert.alertTopics.length 1) index))
              }},{{/if}}
            {{/each}}
          </span>
        </div>
      {{/if}}
      {{#if alert.alertReferenceTerms}}
        <div>
          <span class="p-key">Reference Terms:</span>
          <span class="p-value">
            {{#each alert.alertReferenceTerms as |referenceTerm index|}}
              <a href="https://app.dataminr.com/#search-popup/search/{{referenceTerm.text}}" class="p-link">{{referenceTerm.text}}
                {{fa-icon "external-link-square" class="external-link-icon"}}</a>{{#if
                (not (eq (sub alert.alertReferenceTerms.length 1) index))
              }},{{/if}}
            {{/each}}
          </span>
        </div>
      {{/if}}

      {{#with alert.metadata.cyber as |metadata|}}
        {{#if metadata.vulnerabilities.length}}
          {{#if (get (get expandableTitleStates "vulnerabilities") alertIndex)}}
            <a
              class="expandable-title"
              {{on "click" (action "toggleExpandableTitle" alertIndex "vulnerabilities")}}
            >
              <span class="text">{{fa-icon icon="bug" fixedWidth=true}}
                Vulnerabilities</span>
              {{fa-icon icon="angle-up"}}
            </a>
            <div class="ml-2 vulnerabilities">
              {{#each metadata.vulnerabilities as |vulnerability vulnIndex|}}
                <div class="vulnerability mb-3">
                  {{#if vulnerability.id}}
                    <div>
                      <span class="p-key">CVE:</span>
                      <span class="p-value">{{vulnerability.id}}</span>
                    </div>
                  {{/if}}
                  {{#if vulnerability.cvss}}
                    <div>
                      <span class="p-key">CVSS:</span>
                      <span class="p-value">{{vulnerability.cvss}}</span>
                    </div>
                  {{/if}}
                  {{#if vulnerability.products.length}}
                    {{#if
                      (get
                        (get
                          expandableTitleStates (concat "vulnRelatedProducts" vulnIndex)
                        )
                        alertIndex
                      )
                    }}
                      <a
                        class="expandable-title"
                        {{on
                          "click"
                          (action
                            "toggleExpandableTitle"
                            alertIndex
                            (concat "vulnRelatedProducts" vulnIndex)
                          )
                        }}
                      >
                        <span class="text">{{fa-icon icon="box" fixedWidth=true}}
                          Related Products</span>
                        {{fa-icon icon="angle-up"}}
                      </a>
                      <div class="ml-2 vulnerability-exploit-links gray-boxes">
                        {{#each vulnerability.products as |product productIndex|}}
                          <div class="gray-box">
                            {{titleize product.productVendor}}
                            {{titleize (humanize (dasherize product.productName))}}{{#if
                              (and
                                product.productVersion
                                (not (eq product.productVersion " "))
                              )
                            }} (V{{product.productVersion}}){{/if}}
                          </div>
                        {{/each}}
                      </div>
                    {{else}}
                      <a
                        class="expandable-title"
                        {{on
                          "click"
                          (action
                            "toggleExpandableTitle"
                            alertIndex
                            (concat "vulnRelatedProducts" vulnIndex)
                          )
                        }}
                      >
                        <span class="text">{{fa-icon icon="box" fixedWidth=true}}
                          Related Products</span>
                        {{fa-icon icon="angle-down"}}
                      </a>
                    {{/if}}
                  {{/if}}
                  {{#if vulnerability.exploitPocLinks}}
                    {{#if
                      (get
                        (get expandableTitleStates (concat "vulnExploitLinks" vulnIndex))
                        alertIndex
                      )
                    }}
                      <a
                        class="expandable-title"
                        {{on
                          "click"
                          (action
                            "toggleExpandableTitle"
                            alertIndex
                            (concat "vulnExploitLinks" vulnIndex)
                          )
                        }}
                      >
                        <span class="text">{{fa-icon icon="link" fixedWidth=true}}
                          Exploit POC Links</span>
                        {{fa-icon icon="angle-up"}}
                      </a>
                      <div class="ml-2 vulnerability-exploit-links">
                        {{#each vulnerability.exploitPocLinks as |link index|}}
                          <div class="mb-1">
                            <a href="{{link}}" class="p-link">{{link}}
                              {{fa-icon
                                "external-link-square"
                                class="external-link-icon"
                              }}</a>
                          </div>
                        {{/each}}
                      </div>
                    {{else}}
                      <a
                        class="expandable-title"
                        {{on
                          "click"
                          (action
                            "toggleExpandableTitle"
                            alertIndex
                            (concat "vulnExploitLinks" vulnIndex)
                          )
                        }}
                      >
                        <span class="text">{{fa-icon icon="link" fixedWidth=true}}
                          Exploit POC Links</span>
                        {{fa-icon icon="angle-down"}}
                      </a>
                    {{/if}}
                  {{/if}}
                </div>
              {{/each}}
            </div>
          {{else}}
            <a
              class="expandable-title"
              {{on "click" (action "toggleExpandableTitle" alertIndex "vulnerabilities")}}
            >
              <span class="text">{{fa-icon icon="bug" fixedWidth=true}}
                Vulnerabilities</span>
              {{fa-icon icon="angle-down"}}
            </a>
          {{/if}}
        {{/if}}

        {{#if
          (or
            metadata.threatActors.length
            metadata.URL.length
            metadata.addresses.length
            metadata.asOrgs.length
            metadata.hashValues.length
            metadata.malware.length
          )
        }}
          {{#if (get (get expandableTitleStates "metadata") alertIndex)}}
            <a
              class="expandable-title"
              {{on "click" (action "toggleExpandableTitle" alertIndex "metadata")}}
            >
              <span class="text">{{fa-icon icon="database" fixedWidth=true}}
                Metadata</span>
              {{fa-icon icon="angle-up"}}
            </a>
            <div class="ml-2 metadata">
              {{#if metadata.threatActors.length}}
                <div>
                  <span class="p-key">Threats:</span>
                  <span class="p-value">
                    {{#each metadata.threatActors as |threatActor index|}}
                      {{threatActor.name}}{{#if
                        (not (eq (sub metadata.threatActors.length 1) index))
                      }},{{/if}}
                    {{/each}}
                  </span>
                </div>
              {{/if}}
              {{#if metadata.URL.length}}
                <div>
                  <span class="p-key">URLs:</span>
                  <span class="p-value">
                    {{#each metadata.URL as |url index|}}
                      {{url.name}}{{#if
                        (not (eq (sub metadata.URL.length 1) index))
                      }},{{/if}}
                    {{/each}}
                  </span>
                </div>
              {{/if}}
              {{#if metadata.addresses.length}}
                <div>
                  <span class="p-key">Addresses:</span>
                  <span class="p-value">
                    {{#each metadata.addresses as |address index|}}
                      {{address.ip}}:{{address.port}}{{#if address.version}} ({{address.version}}){{/if}}{{#if
                        (not (eq (sub metadata.addresses.length 1) index))
                      }},{{/if}}
                    {{/each}}
                  </span>
                </div>
              {{/if}}
              {{#if metadata.asOrgs.length}}
                <div>
                  <span class="p-key">AS Organizations:</span>
                  <span class="p-value">
                    {{#each metadata.asOrgs as |asOrg index|}}
                      {{asOrg.asn}}{{#if asOrg.asOrg}} ({{asOrg.asOrg}}){{/if}}{{#if
                        (not (eq (sub metadata.asOrgs.length 1) index))
                      }},{{/if}}
                    {{/each}}
                  </span>
                </div>
              {{/if}}
              {{#if metadata.hashValues.length}}
                <div>
                  <span class="p-key">Hashes:</span>
                  <span class="p-value">
                    {{#each metadata.hashValues as |hash index|}}
                      {{hash.value}}{{#if hash.type}} ({{hash.type}}){{/if}}{{#if
                        (not (eq (sub metadata.hashValues.length 1) index))
                      }},{{/if}}
                    {{/each}}
                  </span>
                </div>
              {{/if}}
              <!--
              // Not in v1 (v4) API schema - products property not defined on Metadata
              {{#if metadata.products.length}}
                <div>
                  <span class="p-key">Products:</span>
                  <span class="p-value">{{join ", " metadata.products}}</span>
                </div>
              {{/if}}
              -->
              {{#if metadata.malware.length}}
                <div>
                  <span class="p-key">Malware:</span>
                  <span class="p-value">
                    {{#each metadata.malware as |malware index|}}
                      {{malware.name}}{{#if
                        (not (eq (sub metadata.malware.length 1) index))
                      }},{{/if}}
                    {{/each}}
                  </span>
                </div>
              {{/if}}
            </div>
          {{else}}
            <a
              class="expandable-title"
              {{on "click" (action "toggleExpandableTitle" alertIndex "metadata")}}
            >
              <span class="text">{{fa-icon icon="database" fixedWidth=true}}
                Key Points</span>
              {{fa-icon icon="angle-down"}}
            </a>
          {{/if}}
        {{/if}}
      {{/with}}

      {{#if alert.publicPost.href}}
        {{#if (get (get expandableTitleStates "post") alertIndex)}}
          <a
            class="expandable-title"
            {{on "click" (action "toggleExpandableTitle" alertIndex "post")}}
          >
            <span class="text">{{fa-icon icon="clone" fixedWidth=true}}
              Post</span>
            {{fa-icon icon="angle-up"}}
          </a>
          <div class="ml-2 post">
            {{#if alert.publicPost.href}}
              <div>
                <a href="{{alert.publicPost.href}}" class="p-link">View Post
                  {{fa-icon "external-link-square" class="external-link-icon"}}</a>
              </div>
            {{/if}}
            <!--
            // Not in v1 (v4) API schema - source property not defined on PublicPost
            {{#if alert.source.displayName}}
              <div>
                <span class="p-key">Poster:</span>
                <span class="p-value">{{alert.source.displayName}}</span>
              </div>
            {{/if}}
            -->
            {{#if alert.publicPost.timestamp}}
              <div>
                <span class="p-key">Posted On:</span>
                <span class="p-value">{{moment-format
                    alert.publicPost.timestamp
                    "MM/DD/YYYY HH:mm:ss"
                    timeZone=timezone
                  }}</span>
              </div>
            {{/if}}
            {{#if alert.publicPost.media}}
              {{#each alert.publicPost.media as |postMedia|}}
                {{#if (or (eq postMedia.type "photo") (eq postMedia.type "image"))}}
                  <div>
                    <img
                      src="{{postMedia.href}}"
                      alt="{{postMedia.href}}"
                    />
                  </div>
                {{/if}}
                {{#if (eq postMedia.type "audio")}}
                  <div>
                    <audio controls>
                      <source src="{{postMedia.href}}" type="audio/mpeg">
                      <source src="{{postMedia.href}}" type="audio/wav">
                      <source src="{{postMedia.href}}" type="audio/ogg">
                      <a href="{{postMedia.href}}" class="p-link">Download Audio
                        {{fa-icon "external-link-square" class="external-link-icon"}}</a>
                    </audio>
                  </div>
                {{/if}}
                <!-- // Not in v1 (v4) API schema - link type not defined on PublicPostMedia
                {{#if (eq postMedia.type "link")}}
                  <div>
                    <a href="{{postMedia.href}}" class="p-link">{{postMedia.href}}
                      {{fa-icon "external-link-square" class="external-link-icon"}}</a>
                  </div>
                {{/if}}
                -->
              {{/each}}
            {{/if}}
          </div>
        {{else}}
          <a
            class="expandable-title"
            {{on "click" (action "toggleExpandableTitle" alertIndex "post")}}
          >
            <span class="text">{{fa-icon icon="clone" fixedWidth=true}}
              Post</span>
            {{fa-icon icon="angle-down"}}
          </a>
        {{/if}}
      {{/if}}
    </div>
  {{/each}}
</div>